.hero-gradient {
  background: linear-gradient($dark-yellow-background, $light-yellow-background);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.hero {
  padding: 0;
  background-image: url("../assets/landing_images/header_illustration.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  border-bottom: 1.5rem solid $dark-blue-background;
  background-size: 520px;
  height: calc(100vh - 60px);
  min-height: 480px;
  z-index: 1;

  @media screen and (min-width: 600px) {
    background-size: 700px;
    min-height: 550px;
  }


  .hero-text{
    text-align: center;
    color: $light-font-color;
    font-size: 1.5rem;
    margin: 0 1rem;
    padding: 3rem 0 0 0;
  }

}
