.landing-pricing-description {
  position: relative;
  background-image: url("../assets/landing_images/pricing_illustration.png");
  background-position: center -120px;
  background-repeat: no-repeat;
  background-size: 700px;

  @media screen and (min-width: $screen-tablet) {
    background-position: -135px center;
  }
}

.landing-pricing-content {
  padding-top: 270px;

  @media screen and (min-width: $screen-tablet) {
    padding-top: 0;
    padding-left: 280px;
  }
}