.testimonials {

  padding-bottom: 0;

  .wrap {
    width: 100%;
    max-width: none;
  }

  .testimonials-company {
    color: #61a6bd;
    font-size: 0.8rem;
  }

  .testimonials-author {
    text-align: right;
    font-weight: bold;
  }

  .testimonials-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    @media screen and (min-width: $screen-tablet) {
      position: relative;
      float: left;
      width: 40%;
      margin-left: 10%;
      padding-right: 1rem;
    }
  }

  .testimonials-quotation-img {
    display: none;
    @media screen and (min-width: $screen-tablet) {
      display: inline;
      position: absolute;
      top: 48px;
      left: -50px;
      width: 60px;
    }
  }

  .testimonials-image-templates {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0 1.5rem;
    
    width: 320px;

    @media screen and (min-width: $screen-tablet) {
      position: relative;
      float: right;
      margin-right: 3rem;
      padding: 0;
    }
    
    .img-desktop-template {
      position: relative;
      width: 232px;
      top: 5px;
      @media screen and (min-width: $screen-tablet) {
        width: 275px;
      }
    }
    .img-mobile-template {
      position: absolute;
      width: 192px;
      right: -26px;
      bottom: -1px;
      @media screen and (min-width: $screen-tablet) {
        width: 195px;
        right: -50px;
      }
    }
  }

  .img-desktop {
    position: absolute;
    width: 232px;
    top: 22px;
    left: 24px;
    @media screen and (min-width: $screen-tablet) {
      width: 275px;
      top: 26px;
      left: 0;
    }
  }
  .img-mobile {
    position: absolute;
    width: 90px;
    top: 67px;
    right: 25px;
    
    @media screen and (min-width: $screen-tablet) {
      width: 91px;
      top: 104px;
      right: 2px;
    }
  }
}

.testimonials-carousel {
  
  .owl-controls {
    background-color: rgb(239, 242, 243);
    color: rgb(108, 135, 146);
    height: 90px;
    border-top: 2px rgb(212, 221, 224) solid;
    text-align: center;
  }

  .owl-pagination {
    margin-top: 1rem;
  }

  .owl-controls {
    margin-top: 0;
  }

  .owl-controls .owl-page span {
    cursor: pointer;
    background: $testimonials-ball-color;
    width: 15px;
    height: 15px;
  }

  .owl-controls .owl-page.active span {
    cursor: pointer;
    background: $testimonials-ball-color-active;
  }

  .owl-slide {
    position: relative;
    height: 480px;
    
    @media screen and (min-width: $screen-tablet) {
      height: auto;
    }
    @media screen and (min-width: $screen-desktop) {
      width: 90%;
      margin: 0 auto;
    }
  }
}