.testimonials {

  padding-bottom: 0;

  .wrap {
    width: 100%;
    max-width: none;
  }

  .testimonials-company {
    color: #61a6bd;
    font-size: 0.8rem;
  }

  .testimonials-author {
    text-align: right;
    font-weight: bold;
  }

  .testimonials-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    @media screen and (min-width: $screen-tablet) {
      position: relative;
      float: left;
      width: 40%;
      margin-left: 10%;
      padding-right: 1rem;
    }
  }

  .testimonials-quotation-img {
    display: none;
    @media screen and (min-width: $screen-tablet) {
      display: inline;
      position: absolute;
      top: 48px;
      left: -50px;
      width: 60px;
    }
  }

  .testimonials-images {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0 1.5rem;
    max-width: 400px;

    .img-desktop {
      position: relative;
      width: 85%;
      top: 5px;
    }
    .img-mobile {
      position: absolute;
      right: -26px;
      bottom: -1px;
      width: 60%;
    }

    @media screen and (min-width: $screen-tablet) {
      position: relative;
      float: right;
      width: 40%;
      margin-right: 10%;
      padding: 0;
    }
  }
}

.testimonials-carousel {
  
  .owl-controls {
    background-color: rgb(239, 242, 243);
    color: rgb(108, 135, 146);
    height: 90px;
    border-top: 2px rgb(212, 221, 224) solid;
    text-align: center;
  }

  .owl-pagination {
    margin-top: 1rem;
  }

  .owl-controls {
    margin-top: 0;
  }

  .owl-controls .owl-page span {
    background: $testimonials-ball-color;
    width: 15px;
    height: 15px;
  }

  .owl-controls .owl-page.active span {
    background: $testimonials-ball-color-active;
  }

  .owl-slide {
    height: 480px;
    position: relative;
    
    @media screen and (min-width: $screen-tablet) {
      height: auto;
    }
  }
}