.pricing-container {
  position: relative;
}

.pricing-cart {

  padding: 3rem 0;

  @media screen and (min-width: $screen-desktop) {
    float: left;
    padding: 0;
    margin-top: -45px;
  }

  .pricing-cart-panel {
    width: 260px;
    margin: auto;
    background-color: $light-background;

    @media screen and (min-width: $screen-desktop) {
      &.fixed {
        position: fixed;
        top: 0;
      }
      &.bottom {
        position: absolute;
        bottom: 2rem;
        top: auto;
      }
    }
  }

  .pricing-cart-header {
    background-color: $pricing-cart-header-color;
    height: 45px;
    color: $light-font-color;
    transition: none;
    bottom: 45px;
    transform: translateY(45px);

    @media screen and (max-width: $screen-desktop) {
      &.fixed {
        transition: transform 0.5s ease-in-out;
        transform: translateY(0);
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
      }
    }
  }

  .header-cart-amount {
    float: left;
    font-size: 1.4rem;
    padding: 13px 0;
    margin: 0 0 0 20px;
  }
  .header-cart-text {
    float: right;
    font-size: 1rem;
    padding: 13px 0;
    margin: 0 20px 0 0;
  }

  .pricing-cart-items {
    display: table;
    margin: 0 auto;
    font-size: 0.8rem;
    padding: 18px;

    .row {
      display: table-row;
    }
    .cell {
      display: table-cell;
      vertical-align: middle;
      padding: 4px 0;

      .pricing-cart-product-name {
        width: 50%;
      }
    }

    .pricing-cart-item-delete {
      color: $pricing-cart-delete-color;
      -webkit-user-select: none;

      &:hover,
      &:focus,
      &:active {
        cursor: pointer;
        color: $pricing-cart-delete-color-hover;
      }
    }
    .cell:nth-child(1) {
      width: 25px;
    }
    .cell:nth-child(2) {
      width: 155px;
      padding: 0 10px;
    }
    .cell:nth-child(3) {
      width: 60px;
      text-align: right;
    }
  }

  .pricing-cart-button {
    text-align: center;
    padding: 16px 0;
    border-top: rgba(233, 233, 233, 0.5) 1px solid;
      .btn {
        margin: 0;
        width: 220px;
      }
  }

}