.pricing-table {
  display: table;
  width: 100%;
  font-family: $sans-font-family;
  font-size: 0.7rem;
  
  .table-header {
    color: $light-font-color;
    height: 50px;

    .cell:nth-last-child(1) {
      background-color: $pricing-table-header-orange;
    }
    .cell:nth-last-child(2) {
      background-color: $pricing-table-header-green;
    }
    .cell:nth-last-child(3) {
      background-color: $pricing-table-header-blue;
    }
    .cell:nth-last-child(4) {
      background-color: $pricing-table-header-grey;
    }
  }
  
  .row {
    display: table-row;
    
    .cell {
      display: table-cell;
      vertical-align: middle;
      padding: 0.8rem;
      border: 1px solid rgba(239, 242, 243, 0.5);
    }

    .cell:not(.cell-header):nth-last-child(-n+3):hover {
      cursor: pointer;
      -webkit-user-select: none;
    }
    
    .cell:nth-last-child(1).selected {
      background: radial-gradient(#fff, $pricing-table-cell-orange);
    }
    .cell:nth-last-child(2).selected {
      background: radial-gradient(#fff, $pricing-table-cell-green);
    }
    .cell:nth-last-child(3).selected {
      background: radial-gradient(#fff, $pricing-table-cell-blue);
    }
  }
}

.check-box {

  &:before{
    content:"";
    position: absolute;
    width:8px;
    height:46px;
    background-color: $pricing-table-check-orange;
    transform: rotate(45deg);
    right: 22px;
    top: 9px;
    border-radius: 5px 5px 0 0;
  }

  &:after{
    content:"";
    position: absolute;
    width:8px;
    height:22px;
    background-color: $pricing-table-check-orange;
    left:14px;
    top:32px;
    transform: rotate(-45deg);
    border-radius: 5px 5px 0 0;
  }
}