.pricing-description {
  position: relative;
  background-image: url("../assets/pricing_images/pricing_illustration2.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 460px;
  min-height: 250px;

  @media screen and (min-width: $screen-tablet) {
    background-position-x: left;
  }
  
  .pricing-content {
    padding-top: 195px;

    @media screen and (min-width: $screen-tablet) {
      padding-top: 0;
      padding-left: 280px;
    }
  }

}