<div class="pricing-total-header">
  <p class="header-total-text">£{{calculateTotalPrice this}}</p>
  <p class="header-total-text">Total</p>
</div>

<div class="pricing-total-items">
{{#each this}}
  <div class="row"></span>
    <span class="cell"><i class="cart-delete fa fa-times-circle fa-2x"data-total-name={{@key}}></i></span>
    <span class="cell">{{@key}}</span>
    <span class="cell">£{{this}}</span>
  </div>
{{/each}}
</div>

<div class="pricing-total-button">
  <div class="btn btn-green">
    <a href="#">Checkout</a>
  </div>
</div>