@import url("http://fonts.googleapis.com/css?family=Merriweather");
@import url("http://fonts.googleapis.com/css?family=Merriweather+Sans");

html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

*, *:after, *:before {
  box-sizing: border-box; 
}

// Header
$dark-yellow: #fee16c;
$light-yellow: #fcea96;
$dark-blue: #1d4c5c;
$header-text-color: #575145;
$header-font: 'Merriweather Sans', sans-serif;
$burger-color: #5c5a66;

// Buttons
$header-hover-color: #ffea99;
$button-blue: #5eb9ff;
$button-red: #ef6258;

// Fonts
$font-family: 'Merriweather', serif;
$font-size: 16px;
$base-font-color: #508192;

// Testimonials
$testimonial-font-color: #6c8792;
