$red-button: #ef6258;
$red-button-hover: darken($red-button, 5%);

$blue-button: #5fb9ff;
$blue-button-hover: darken($blue-button, 5%);

.btn {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.7rem;
  color: white;
  border-radius: 3px;
  width: 180px;
  margin-top: 30px;
  letter-spacing: 1.5px;
  text-align: center;

  a {
    display: inline-block;
    padding: 9px;
  }

  &.btn-red {
    background: $button-red;
    transition: background 0.5s ease;
  }
  &.btn-blue {
    background: $button-blue;
    transition: background 0.5s ease;
  }
  &.btn-red:hover,
  &.btn-red:focus,
  &.btn-red:active {
    cursor: pointer;
    background: $button-red-hover;
  }
  &.btn-blue:hover,
  &.btn-blue:focus,
  &.btn-blue:active {
    cursor: pointer;
    background: $button-blue-hover;
  }
}
