.pricing-description {
  position: relative;
}

.pricing-illustration {
  background-image: url("../images/landing_images/pricing_illustration_cropped.png");
  background-position: center -150px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;

  height: 100%;
  width: 100%;
}