@import "base";

@import "header";
@import "hero";
@import "business";
@import "pricing";
@import "testimonials";
@import "footer";

@import "buttons";

html{
  min-width: 320px;
  font-family: $base-font-family;
}

.main {
  margin-top: 60px;
}

.wrap {
  position: relative;
  margin: 0 auto;
  padding: 3rem 1.5rem;

  p {
    line-height: 20px;
  }

  .img-caption {
    margin: 0 auto;
    padding-bottom: 1rem;
    width: 9rem;
  }
}
.wrap:after{
  content: "";
  display: table;
  clear: both;
}

.dark-blue-background {
  background-color: $dark-blue-background;
  color: $light-font-color;
}
.light-background {
  background-color: $light-background;
  color: $dark-font-color;
}
.grey-background {
  background-color: $grey-background;
  color: $testimonials-font-color;
}