html{
  font-size: 16px;
  min-width: 320px;
  font-family: $base-font-family;
}
h1 {
  font-size: 1.2rem;
  padding: 0 1.5rem;
}
h2 {
  font-size: 1rem;
  padding: 0 1.5rem;
}
p {
  font-size: 0.7rem;
  line-height: 20px;
  padding: 0 1.5rem;
}
section {
  padding: 3rem 0;
}

.main {
  margin-top: 59px;
}

.wrap {
  position: relative;
  margin: 0 auto;
}

.dark-blue-background {
  background-color: $dark-blue-background;
  color: $light-font-color;
}
.light-background {
  background-color: $light-background;
  color: $dark-font-color;
}
.grey-background {
  background-color: $grey-background;
  color: $testimonials-font-color;
}
.light-grey-background {
  background-color: $light-grey-background;
  color: $testimonials-font-color;
}

@media screen and (min-width: $screen-tablet) {
  html {
    font-size: 16px;
  }
  .wrap {
    width: 80%;
  }
}
@media screen and (min-width: $screen-desktop) {
  html {
    font-size: 18px;
  }
  .wrap {
    width: 70%;
  }
}
