.btn {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.7rem;
  color: white;
  border-radius: 3px;
  display: inline-block;
  width: 180px;
  margin: 2rem 1.5rem 0;
  letter-spacing: 1.5px;
  text-align: center;

  a {
    display: inline-block;
    padding: 9px;
  }

  &.btn-red {
    background: $button-red;
    transition: background 0.5s ease;

    &:hover,
    &:focus,
    &:active {
      cursor: pointer;
      background: $button-red-hover;
    }
  }
  &.btn-blue {
    background: $button-blue;
    transition: background 0.5s ease;
    
    &:hover,
    &:focus,
    &:active {
      cursor: pointer;
      background: $button-blue-hover;
    }
  }
  &.btn-green {
    background: $button-green;
    transition: background 0.5s ease;

    &:hover,
    &:focus,
    &:active {
      cursor: pointer;
      background: $button-green-hover;
    }
  }
}
