.dark-blue-background {
  background-color: $dark-blue-background;
  color: $light-font-color;
}
.light-background {
  background-color: $light-background;
  color: $dark-font-color;
}
.grey-background {
  background-color: $grey-background;
  color: $testimonials-font-color;
}
.light-grey-background {
  background-color: $light-grey-background;
  color: $testimonials-font-color;
}