.footer {
  text-align: center;

  p {
    padding: 0;
  }

  .footer-top {
    padding: 2rem 0.5rem;
  }

  .social-links {
    list-style: none;
    font-size: 1.2rem;

    .social-links-item {
      display: inline-block;
      padding: 2px;
    }

    a {
      display: block;
      margin: 0;
    }
  }

  .left {
    float: left;
    width: 40%;
    padding: 4px 0;
  }
  .middle {
    display: inline-block;
    position: relative;
    .footer-logo {
      height: 54px;
    }
  }
  .right{
    float: right;
    width: 40%;
  }

  .footer-bottom {
    padding: 1rem 0;
  }

}