.header.expanded {
  height: 230px;
  
}

.header{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  background-color: $dark-yellow-background;
  color: $header-font-color;
  font-family: $sans-font-family;
  font-size: 12px;
  text-transform: uppercase;
  overflow: hidden;
  z-index: 10;
  transition: height 0.5s ease;

  .logo {
    float: left;
    padding: 10px 0;
    margin: 0 1.5rem;
  }

  .header-links {
    padding-top: 60px;
    list-style: none;
    @media screen and (min-width: $screen-tablet) {
      padding-top: 0;
      float: right;
      margin: 0 1rem;
    }

    .header-links-item {
      width: 70%;
      margin: auto;

      @media screen and (min-width: $screen-tablet) {
        width: auto;
        display: inline-block;
      }

      a {
        display: block;
        padding: 8px;
        margin: 8px 0;
        text-align: center;
        transition: background-color 0.4s ease;
        border-radius: 5px;

        @media screen and (min-width: $screen-tablet) {
          padding: 8px 12px;
          margin: 18px 4px;
        }
        
        &:hover,
        &:active,
        &:focus {
          background-color: $header-hover-color;
        }
      }

    }
  }

  .burger {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 6px;
    width: 2.7rem;
    padding: 8px;
    margin: 0 1rem;
    cursor: pointer;

    @media screen and (min-width: $screen-tablet) {
      display: none;
    }

    .burger-line {
      background-color: $burger-color;
      height: 5px;
      margin-top: 4px;
      width: 90%;
      transition: all 0.5s ease;
    }
  }

}

.burger-line:first-child {
  .header.expanded & {
    transform: translateY(10px)rotate(45deg);
  }
}
.middle {
  .header.expanded & {
    opacity: 0;
  }
}
.burger-line:last-child {
  .header.expanded & {
    transform: translateY(-8px)rotate(-45deg);
  }
}