.hero {
  background: linear-gradient($dark-yellow-background, $light-yellow-background); 
  height: calc(100vh - 60px);

  .hero-wrap{
    text-align: center;
    color: $light-font-color;
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    padding: 0 1.5rem;
  }

  .hero-illustration {
    background: url("../assets/landing_images/header_illustration.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;

    border-bottom: 1.5rem solid $dark-blue-background;
    position: absolute;
    bottom: 0;
    top: calc(50% - 60px);
    right: 0;
    left: 0;
  }

}
