.pricing-description {
  position: relative;
}

.pricing-description {
  background-image: url("../assets/landing_images/pricing_illustration_cropped.png");
  background-position: center -170px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.pricing-content {
  margin-top: 16rem;
}