.pricing-description {
  position: relative;
}

.pricing-description {
  background-image: url("../assets/landing_images/pricing_illustration_cropped.png");
  background-position: center -120px;
  background-repeat: no-repeat;
  background-size: 700px;
}

.pricing-content {
  padding-top: 270px;
}