@import url("http://fonts.googleapis.com/css?family=Merriweather");
@import url("http://fonts.googleapis.com/css?family=Merriweather+Sans");

// Fonts
$base-font-family: 'Merriweather', serif;
$font-size: 16px;
$dark-font-color: #508192;
$light-font-color: #fff;
$testimonials-font-color: #6c8792;

// Background colors
$dark-yellow-background: #fee16c;
$light-yellow-background: #fcea96;
$dark-blue-background: #1d4c5c;
$light-background: #fff;
$grey-background: #e5eaec;
$light-grey-background: #eff2f3;

// Header
$header-font-color: #575145;
$header-font: 'Merriweather Sans', sans-serif;
$header-hover-color: #ffea99;
$burger-color: #5c5a66;

// Testimonials
$testimonials-bullet-active: #ffad00;
$testimonials-bullet-inactive: #d4dde0;

// Buttons
$button-red: #ef6258;
$button-red-hover: darken($button-red, 5%);
$button-blue: #5fb9ff;
$button-blue-hover: darken($button-blue, 5%);
$button-green: #9acb3f;
$button-green-hover: darken($button-green, 5%);

// Media Queries
$screen-mobile: 320px;
$screen-tablet: 768px;
$screen-desktop: 992px;
$screen-desktop-lg: 1200px;

// Pricing Table
$table-bg-blue: #dff1ff;
$table-bg-green: #e5f2cf;
$table-bg-orange: #ffefcc;
$table-check-blue: #aadcfa;
$table-check-green: #c4e08f;
$table-check-orange: #ffd782;





